.errormsg{
    background-color: red;
    border: 3px solid red;
    color: white;
/*    display: inline-block; 
    margin-left: 5px; */
}
.warningmsg{
    background-color: yellow;
    border: 3px solid yellow;
    color: blue;
/*    display: inline-block; 
    margin-left: 5px; */
}
/* field validation type pages */
.page-admin-structure-validate-data #edit-action2--2 input.form-submit {
  padding: 8px 10px;
  font-size: 14px;
  line-height: 1em;
  min-height: 60px;
  vertical-align: top;
}

.validatedatamessagenotadmin {
  width: 48%; 
  margin-left:  13em;
}

.form-submit {
  width: inherit!important;
}
.has-error .form-control:focus,
.has-error .form-control,
.has-error {
  border-color: #ff0000;
  color: red;
}


.glyphicon-remove:before {
  color: red;
  content: '✘'!important;
}
.glyphicon-ok:before {
  content: "✓"!important;
}
.warningmsg,
.errormsg {
  margin-left: 0px!important;
}

.textarea-processed .warningmsg,
.textarea-processed .errormsg {
  margin-left: -165px!important;
}
.form-item i {
  right: 40px!important;
}
.textarea-processed i {
  top: -112px;
  right: -488px!important;
}
.has-warning input.form-control:focus,
.has-warning input.form-control {
  border: 1px solid yellow!important;
  border-color: yellow!important;
  webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px rgb(234, 255, 45);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px rgb(234, 255, 45);
  color: yellor;
}

#foo:checked::before, 
input.form-checkbox, 
input.form-radio {
  opacity: 10;
  width: initial;
  margin: 0;
}

